{% extends "layout.html" %}

{% block content %}

{% if current_user == user %}
<h3 class="container p-3 my-3 bg-primary text-white">Your Posts </h3>
{% else %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title font-weight-bold"  ><img class="rounded-circle article-img" style="align-items: flex-start;" src="{{ url_for('static', filename = 'dp/' + user.user_image) }}" > {{user.username}} </h3>
    <h5 class="card-subtitle mb-2 text-muted">About the author</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<h3 class="container p-3 bg-primary text-white">Posts by {{user.username}} ( {{posts.total}} ) </h3>
{% endif %}

{%for post in posts.items%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" >{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime("%d-%m-%Y  %H:%M") }}</small>
    </div>
    <h2><a class="article-title" href=" {{ url_for('posts.post', post_id = post.id) }} ">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content[:250] + "...." }}</p>
  </div>
</article>
{%endfor%}
{% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
  {% if page_num %}
  {% if posts.page == page_num%}
  <a class="btn btn-primary mb-4 " href="{{ url_for('main.home',page = page_num) }}"> {{ page_num}} </a>  
{% else %}
  <a class="btn btn-outline-primary mb-4 " href="{{ url_for('main.home',page = page_num) }}"> {{ page_num}} </a>
{% endif %}
  {% else %}
    ...
  {% endif %}
    
{% endfor %}

{% endblock content %}